process {
    withName: splitLetters {
        container = 'debian:latest'
    }
    withName: convertToUpper {
        container = 'ubuntu:latest'
    }
    executor = 'slurm'
    cpus = 2
    memory = 4.GB
}

singularity {
    enabled = true
    cacheDir = '/datastore/nextgenout5/share/labs/bioinformatics/srj/Simgs'
    autoMounts = true
}

